@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
	.btn-small {
		@apply px-2 py-1 text-sm text-gray-700 bg-gray-200 border border-gray-300 rounded-md hover:bg-red-300;
	}
}

a.active {
	color: rgb(232, 232, 141);
}

body {
	opacity: 0;
	animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.pageFlashcards {
	.verbFlashcard {
		.front.notYetTaken {
			background-color: goldenrod;
		}
		.front.alreadyTaken {
			background-color: rgb(145, 107, 13);
			color: #fff;
		}
		.back {
			background-color: rgb(241, 217, 154);
		}
		.section {
			border-top: 1px solid rgb(209, 184, 121);
			margin-top: 0.3rem;
			font-size: .7rem;
			padding-top: .5rem;
			padding-bottom: .5rem;
		}
	}
}
